<meta name="theme-color" content="{{ site.theme }}">

<meta itemprop="name" content="{{ site.title }}">
<meta name="description" content="{{ site.description }}" />
<meta itemprop="description" content="{{ site.description }}" />
<meta itemprop="image" content="{{ site.image }}">

<link rel="icon" sizes="192x192" href="images/make.png" />
<link rel="icon" sizes="128x128" href="images/make.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.twitter }}" />
<meta name="twitter:creator" content="{{ site.creator }}" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:image:src" content="{{ site.image }}">
<meta name="twitter:description" content="{{ site.description }}" />

<meta property="og:title" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.baseurl }}" />
<meta property="og:image" content="{{ site.image }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ site.title }}" />
